.home-container {
    position: relative;
    display: inline-block; 
  }
  
  .imgtext-content video {
    /* display: block;  */
    width: 93%;
    height: auto;
    border-radius: 25px;
    position: relative;
    left: 4%;
 
  }
  .imgtext-content span {
    position: absolute;
    width: 94%;
    font-size: 10.3rem;
    top: 12%;
    left: 50%; 
    transform: translate(-50%, -50%);
    color: #fff;
    font-weight: bold;
    text-align: center; 
    border-radius: 5px; 
    background-color: rgba(0, 0, 0, 0.5);
   
    
  }
  .optional-buttons{
  display: none;
  }
 
 .socialmedia-icons{
    display: flex;
    margin-top: 30px;
    margin-left: 10px;
    
 }

 .socialmedia-icons ul{
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 10px; 
    padding: 0;
 }
 .socialmedia-icons ul li{
    color: #fff;
    font-size: 35px;
    border-radius: 15px;
 }
 .socialmedia-icons ul li svg{
    border-radius: 25px;
 }



 @media(max-width: 1455px){
   .imgtext-content span {
      font-size: 5rem;
   }

 }
 @media(max-width: 735px){
   .imgtext-content span {
      font-size: 3rem;
   }

 }
 @media(max-width: 429px){
   .imgtext-content span {
      font-size: 1.5rem;
   }

 }