.heading-section p{
   font-size: 1.4rem;
   color: #fff;
   text-align: center;
   padding-top: 2%;
   padding-bottom: 2%;
}
.newsupdate-sections{
 width: 100%;
 height: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}
.left-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* border: 1px solid #fff; */
  border-radius: 10px;
  height: 100%;
  gap: 20px;
  transition: transform 0.2s ease-in-out;
}
.left-section:hover{
  transform: scale(1.2);
  cursor: pointer;
}

.news-one{
  color: #fff;
  display: flex;
}
@media(max-width:1175px){
  .left-section{
    border: none;
  }
}