
.navbar-container{
    background-color: black;
    height: 80px;
   
}
.navbar-elements{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.soccer-logo img{
    width: 100px;
    height: 80px;
    cursor: pointer;
}
.headings ul{
   
    display: flex;
    gap: 50px;
    list-style: none;
}
.headings ul li{
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
}
.headings ul li:hover{
    transform: scale(1.2);
    color: mediumorchid; 
}
.login-section{
    width: 100px;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}
.login-section:hover{
    background-color: #000;
    color: #fff;
}
.login-section h4{
    
    font-size: 18px;
   transition: transform 0.3s ease, color 0.3s;
}
.login-section h4:hover{
    transform: scale(1.2);
    color: mediumorchid;
    background-color: black;
}
.login-section img{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}
.headings ul a{
    color: #fff;
   text-decoration: none;
}
.headings ul a.active{
    color: rgb(191, 0, 191);
    padding-bottom: 2px;
    border-bottom: 2px solid rgb(191, 0, 191);
}